<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olar!</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
  <p>De boas</p>
    <div>
      <h1><a href="/">Django Girls blog</a></h1>
    </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</html>
